.menu-nav{
  font-size: 20px;
}

.menu-nav .nav-link.active {
  width: 100%;
  border-radius: 0px;
  background-color: rgb(42, 80, 157);
  font-size: 24px;
  color: white !important;
}

.menu-nav{
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}

.container-navBar{
  border: none;
}
